body {
    background-color: #0F0E0E;
}

.header {
    margin-top: 40px;
}

h1 {
    text-align: center;
}

.task-add-section {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
}

.task-add-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
}

.added-tasks {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

h1,
h3,
label,
button {
    color: #541212;
    font-family: Arial, Helvetica, sans-serif;
}

.add-task-btn {
    background-color: #541212;
    color: #EEEEEE;
    margin-left: 41%;
    padding: 10px 60px;
    margin-top: 20px;
}

.add-task-btn1 {
    background-color: #541212;
    color: #EEEEEE;
    margin-left: 28%;
    padding: 10px 60px;
    margin-top: 20px;
}

.update-task-btn1 {
    background-color: #541212;
    color: #EEEEEE;
    margin-left: 33%;
    padding: 10px 30px;
    margin-top: 20px;
}

.update-task-btn1:hover {
    background-color: #541212;
    color: #EEEEEE;
}

.add-task-btn1:hover {
    background-color: #541212;
    color: #EEEEEE;
}

.add-task-btn:hover {
    background-color: #541212;
    color: #EEEEEE;
}

.edit-btn,
.delete-btn {
    background-color: #541212;
    color: #EEEEEE;
    margin-right: 10px;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #541212;
    color: #EEEEEE;
}